<!DOCTYPE html>
<html lang="en">
<head>
  <title>Survey Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h1>Coding Dojo Survey Form</h1>
        <form action="/process/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Your Name:</label>
                <input type="text" name='name' class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="location">Dojo Location:</label>
                <select name="location" class="form-control" id="location">
                    <option value="Seattle">Seattle</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Mountain View">Mountain View</option>
                    <option value="Texas">Texas</option>
                    <option value="Online">Online</option>
                </select>
            </div>
            <div class="form-group">
                <label for="language">Favorite Language:</label>
                <select name ="language" class="form-control" id="language">
                    <option value="Python">Python</option>
                    <option value="csharp">C#</option>
                    <option value="Javascript">Javascript</option>
                    <option value="Java">Java</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" name = "comment" id="comment" rows=""></textarea>
            </div>
            <button type="submit" class="btn btn-default" value="submit">Submit</button>
        </form>
    </div>

</body>
</html>